<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.wms.repository.mapper.AreaMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , client_id, warehouse_id, floor_id, area_name, area_code, area_size, creator, modifier, created, updated, remark
    </sql>

    <!-- 检查指定仓库下是否存在库区 -->
    <select id="existAreaByWarehouse" resultType="com.catface.wms.repository.entity.Area">
        select
        <include refid="Base_Column_List"/>
        from area where warehouse_id = #{warehouseId} limit 0,1
    </select>

    <!-- 检查指定楼层下是否存在库区 -->
    <select id="existAreaByFloor" resultType="com.catface.wms.repository.entity.Area">
        select
        <include refid="Base_Column_List"/>
        from area where floor_id = #{floorId} limit 0,1
    </select>

    <!-- 分页查询库区 -->
    <select id="selectOnePage" resultType="com.catface.wms.repository.entity.Area">
        select
        <include refid="Base_Column_List"/>
        from area
        where client_id = #{param.clientId}
        <if test="param.warehouseId!=null">
            and warehouse_id = #{param.warehouseId}
        </if>
        <if test="param.floorId!=null">
            and floor_id = #{param.floorId}
        </if>
        <if test="param.areaName!=null and param.areaName!=''">
            and area_name like concat('%',#{param.areaName},'%')
        </if>
        <if test="param.areaCode!=null and param.areaCode!=''">
            and area_code like concat('%',#{param.areaCode},'%')
        </if>
    </select>

</mapper>
