<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.wms.repository.mapper.FloorMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, client_id, warehouse_id, floor_name, floor_code, area_size, height, creator, modifier, created, updated, remark
    </sql>

</mapper>
