<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.wms.repository.mapper.LocationMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , client_id, warehouse_id, floor_id, area_id, row_no, column_no, location_code, length, width, height, created, updated, remark
    </sql>

    <!-- 指定仓库下是否存在库位 -->
    <select id="existLocation" resultType="com.catface.wms.repository.entity.Location">
        select
        <include refid="Base_Column_List"/>
        from location where warehouse_id = #{warehouseId}
    </select>


</mapper>
